3.Store the data in Customer Class
4.Create Custom Exception â€“CustomerNotAllowedException
Pass a customer to function "createOrder" and throw CustomerNotAllowedException in case of blacklisted value is 1
1.Change function createOrder to take productname and product code as input2.Create Class OrderReturn object of type Order in case customer is eligible

In [33]:
import pandas as pd
import re 
csv_data = pd.read_csv('D:/gitrepo/buntycodes/edureka/FairDealCustomerData.csv',names=['product','fullname','blacklist'])
csv_data.head()

      product             fullname  blacklist
0      Braund     Mr. Owen Harris           1
1   Heikkinen         Miss. Laina           0
2       Allen   Mr. William Henry           0
3       Moran           Mr. James           0
4    McCarthy       Mr. Timothy J           0

In [34]:
class Order:
    def __init__(self, productname, productcode):
        self.productname = productname
        self.productcode = productcode

class Customer:
    def __init__(self, productname, customername, isblacklisted):
        self.productname = productname
        self.customername = customername
        self.isblacklisted = isblacklisted

    def createOrder(self, productname, productcode):
        if self.isblacklisted:
            raise CustomerNotAllowedException(
                "Customer is not allowed to create the order because it is blacklisted.")

        order = Order(productname, productcode)

        return

In [35]:
csv_data.head()

      product             fullname  blacklist
0      Braund     Mr. Owen Harris           1
1   Heikkinen         Miss. Laina           0
2       Allen   Mr. William Henry           0
3       Moran           Mr. James           0
4    McCarthy       Mr. Timothy J           0

In [39]:
# Full name customers
fullname_data = list([data for data in csv_data if re.match(
    r"([a-zA-Z].+)\s(\w+)\s(\w+)", data[1].strip(), re.IGNORECASE)])
print(fullname_data)
# Adding cutomers data to GoodsKart data
customerList = []
for data in fullname_data:
    customerList.append(Customer(productname=data[0].strip(
    ), customername=data[1].strip(), isblacklisted=bool(data[2].strip())))

# Check whether the customer is allowed to create the order or not?
customer = Customer(productname="Apple",customername="Mr. Bunty Ramrakhyani", isblacklisted=True)

[]