In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('D:/gitrepo/buntycodes/edureka/DataManipulation_Datasets/Salaries.csv')
df.head()

C:\Users\bunty\AppData\Local\Temp\ipykernel_10296\389377004.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:/gitrepo/buntycodes/edureka/DataManipulation_Datasets/Salaries.csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
#Compute how much total salary cost has increased from the year 2011 to 2014
dfg = df[['Year','TotalPay']].groupby('Year').sum()
print(dfg.query("Year == 2011")["TotalPay"].sum() -dfg.query("Year == 2014")["TotalPay"].sum())

-282797920.54000044

In [4]:
#Which Job Title in the Year 2014 has the highest mean salary
dfg = df[['JobTitle','TotalPay']].groupby('JobTitle').mean()
dfg.sort_values(by = 'TotalPay' , ascending= False, inplace=True)
dfg.head(1)

                                                  TotalPay
JobTitle
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  399211.275

In [5]:
grouped_df_overTime = df.groupby(["Year"]).agg(
    "sum").filter(["OvertimePay"]).query("Year == 2014")

print(str(float(grouped_df_overTime["OvertimePay"])) +       " money could have been saved in Year 2014 by stopping OverTimePay")

205918599.27 money could have been saved in Year 2014 by stopping OverTimePay

In [6]:
#Which are the top 5 common jobsin the Year 2014 and how much do they cost SFO
dfj = df[['JobTitle','TotalPay']].groupby('JobTitle').sum()
dfj.sort_values(by = 'TotalPay' , ascending=False,inplace=True)
print(dfj.head(5))
dfj.head(5).sum()

                      TotalPay
JobTitle
Transit Operator  4.553076e+08
Registered Nurse  4.322574e+08
Firefighter       3.441351e+08
Police Officer 3  3.266096e+08
Deputy Sheriff    2.120763e+08

TotalPay    1.770386e+09
dtype: float64

In [13]:
#top earning employee
print('sar')

top5 = df[["Year", "TotalPay", "EmployeeName"]].groupby(["Year", "TotalPay","EmployeeName"]).agg("max").filter(["Year", "TotalPay", "EmployeeName"])
top5

sar

Empty DataFrame
Columns: []
Index: [(2011, 0.0, JOSEPHINE MCCREARY), (2011, 0.0, KAUKAB MOHSIN), (2011, 0.0, PAULETTE ADAMS), (2011, 0.3, JOE BROWN JR), (2011, 4.17, SERENA HUGHES), (2011, 5.8, ROCK CRAWFORD), (2011, 8.86, MARCELLA TUCKER), (2011, 17.42, MARVA MOORE), (2011, 17.78, WALTER WILLIAMS), (2011, 18.78, ANH LUU), (2011, 20.37, GERALDINE DESPANIE), (2011, 21.83, PAUL PELS), (2011, 27.28, AMELIA WILLIAMS), (2011, 27.28, BLOSSOM WONG), (2011, 27.28, GRANGER BALESTRIERI), (2011, 27.28, ISAAC ZIMMERN), (2011, 27.28, KATHERINE BALESTRIERI), (2011, 27.28, PHOEBE LONGHI), (2011, 27.28, SERENA YEE), (2011, 27.28, TESS WILLIAMS), (2011, 27.63, SEAN DOLAN), (2011, 29.25, ALEX AMEND), (2011, 30.25, CAROLINA CALDERON), (2011, 30.25, SHIRLEY MOK), (2011, 31.08, ARIANA VELASCO), (2011, 31.08, DOMINIQUE HOSKINS), (2011, 33.65, LAQUITA GRIFFITHS), (2011, 33.75, ANTHONY LECUE), (2011, 33.75, ANTONIO MORENO), (2011, 33.75, CAMPBELL ALEXANDER), (2011, 33.75, CATHERINE ALLEN), (2011, 33.75, CESAR RIVERO), (2011, 33.75, CLAUDIA LI), (2011, 33.75, MEGHAN OBRIEN), (2011, 33.75, YU TING LI), (2011, 34.59, JESSICA FABRO), (2011, 35.86, CALLI NELSON), (2011, 35.86, GREER LOWERY), (2011, 35.86, MELINDA DE LA CRUZ), (2011, 35.86, ROBYN MACCONNELL), (2011, 35.86, SUSAN SHEETS), (2011, 39.32, JAMILLA CHURCHILL), (2011, 41.08, JENNIFER RYAN), (2011, 42.02, ANTOINETTE GIBSON), (2011, 43.2, STEPHANIE MCSHURLEY), (2011, 45.0, CAROLINE WAMPOLE), (2011, 45.0, MEGAN KURASHIGE), (2011, 45.0, SIDNEY JOHNSON), (2011, 46.0, STEPHANIE SHAKOFSKY), (2011, 46.15, KYLE RHORER), (2011, 47.84, KATIE HASKELL), (2011, 48.34, ROBERT DAVIS), (2011, 50.0, KATHERINE MUNTER), (2011, 52.0, BERNARD SAMPSON), (2011, 55.39, DEANDRA BRYANT), (2011, 56.0, GALINA HYLAND), (2011, 56.0, RAFAEL VALLADARES), (2011, 57.23, RIYAD GHANNAM), (2011, 58.47, ANTHONY JOSLIN), (2011, 59.77, PAULACLAUDIN HOBSON COARD), (2011, 60.61, ROLETTE FINDLEY), (2011, 63.65, ABRAHAM VASQUEZ), (2011, 65.54, JOSEPHINE BAUTISTA), (2011, 67.74, CHRISTIAN HARRIS-ALABANZA), (2011, 67.74, IVAN WOJCIECHOWSKI), (2011, 67.74, LUIS ROCHA CORTES), (2011, 67.74, MICHAEL LEE), (2011, 68.9, ANTHONY SPENCER), (2011, 69.67, ELLIS BROWN), (2011, 70.0, SHOBA DANDILLAYA), (2011, 70.23, FERENC FENYVESI), (2011, 70.39, MORTON BRADLEY), (2011, 72.62, CEPHAS ANDERSON), (2011, 76.26, THOMAS SIMMS), (2011, 76.71, JOSEPH MCGOVERN), (2011, 80.0, RAQUEL MONTOYA), (2011, 80.29, EMERSON STAFFORD), (2011, 83.96, SUSAN MEZGER), (2011, 85.41, JESUS AGREGADO), (2011, 87.64, MARIANNA BALQUIEDRA), (2011, 88.26, HARRY GOTWETTER), (2011, 91.6, JOCELYN MADAMBA), (2011, 92.21, DEBRA TANIS), (2011, 93.8, RUBEN HERNANDEZ JR), (2011, 97.73, CHERI COLLINS), (2011, 98.0, FIAMMA GIGER), (2011, 98.0, LINDSAY PALAIMA), (2011, 98.1, RONALD TERASHIMA), (2011, 99.1, CLARENCE JOHNSON), (2011, 100.0, BETTE LANDIS), (2011, 100.0, JASON ELLIOTT), (2011, 100.0, MATTHEW TUCHOW), (2011, 100.0, SHARON EBERHARDT), (2011, 100.92, JUAN VELIZ SOTO), (2011, 101.75, LEONA WALKER), (2011, 103.36, KEN YANG), (2011, 104.58, RICHARD WRIGHT), (2011, 105.25, FLORISTINE JOHNSON), (2011, 108.75, JASON LO), (2011, 109.38, GLOREEN HEFT), ...]

[148648 rows x 0 columns]